{% extends 'layout.html' %}
{% block content %}
<div>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Log In</legend>
			<div>
				{{ form.email.label() }}
				{{ form.email() }}
			</div>
			<div>
				{{ form.password.label() }}
				{{ form.password() }}
			</div>
			<div>
				{{ form.remember() }}
				{{ form.remember.label() }}

			</div>
		</fieldset>
		<div>
			{{ form.submit() }}
		</div>
		<div>
			<small>
				<a href="#">Forgot Password?</a>
			</small>
		</div>
	</form>
</div>
<div>
	<small>
		Not have account? <a href="{{url_for('register')}}">Sign Up</a>
	</small>
</div>
{% endblock %}